*{
margin:0px;
spacing:0px;
}

@font-face{
	font-family:heading-font;
	src:url(fonts/AppleChancery.ttf);
}

h1{
	font-family: heading-font;
	font-size:60px;
	text-transform:capitalize;
}

table.try{
	margin-left:50px;
	margin-top:10px;	
	/*border-collapse:separate;
	border-spacing:50px 20px;*/
	text-align:left;
		
}

input[type=text]
{
	width:250px;
	height:30px;
	border:2px solid #A52A2A;
	border-radius:5px;
	text-align:center;
	margin-top:10px;
}
input[type=reset]
{
	background:#A0522D;
	color:white;
	width:80px;
	height:40px;
	margin-left:60px;	
	border-radius:5px;
	margin-top:10px;
}input[type=submit]
{
	background:#A0522D;
	color:white;
	width:80px;
	height:40px;
	border-radius:5px;
	margin-left:60px;	
	margin-top:10px;
}
input[type=tel]
{
	width:100px;
	background:#FFF8DC;
}
input[type=reset]:hover
{
	background:#DEB887;
	font-weight:bold;
	font-variant:caption;
	color:black;
	width:80px;
	height:40px;
	margin-left:60px;	
}input[type=submit]:hover
{
	background:#DEB887;
	font-weight:bold;
	font-variant:caption;
	color:black;
	width:80px;
	height:40px;
	margin-left:60px;	
}
table{
	//border:1px solid black;
	margin-top:50px;
	margin-bottom:80px;
	background:#FFF8DC;
}
tr{
	height:50px;
	text-align:center;
}
tr:hover{
	background:#DEB887;
	color:white;
}
tr:last-child:hover{
	background:#FFF8DC;
}
::-webkit-input-placeholder
{
	color:black;
	text-align:center
}
.textbox{
	text-align:center;
	margin-top:16px;
}
.aroundtable{
	height:600px;
	width:500px;
	margin-left:250px;
	background:#FFF8DC;
	padding-top:30px;
}
.ttr{
	margin-top:50px;
}